Options -MultiViews
RewriteEngine on
# change /public to the public directory path.
RewriteBase /
RewriteCond %{HTTP_HOST} ^hipoiot.com [NC]
RewriteRule ^(.*)$ https://www.hipoiot.com [L,R=301,NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?req=$1
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]